# Umožňuje převést nestandardní jméa kanálů na jméno picony. Pár je potřeba oddělit znakem >
:24>rtvs24
ČT :D / ČT art>ctdart
Barrandov>barrandovtv
Filmbox basic>filmbox
Eurosport>eurosport1
1+1 International>11international
Al Jazeera English>aljazeera
Arirang TV>arirang
Armenia 1 TV>armenia
Auto Motor und Sport>automotorsport
CGTN Documentary>cgtndocu
CS Film / CS Horror>csfilmhorror
Doktor TV>tvdoktor
English Club TV>englishclub
Film +>filmplus
France 24 English>france24inenglish
History Channel>history
i-Vysočina.CZ>ivysocina
JTV>jihoceskatelevize
National Geographic Channel>nationalgeographic
Polar TV>polar
Poslanecká sněmovna ČR>pscr
PREMIUM>slagerpremium
Retro Music Television>retro
Seznam.cz TV>seznamtv
Spark TV>spark
TV Brno 1>brno1
TV Kladno>kladno1tv
TV ZAK>zaktv
V1>v1tv
