<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="Nastavení">
                <setting label="Port serveru" type="number" id="webserver_port" default="8083"/>
                <setting label="Počet dnů v keší (0=bez kešování)" type="slider" id="dnu_v_kesi" range="0,1,30" default="1" option="int"/>
	</category>
</settings>
